// Primary colors
$main-bg:hsl(233, 47%, 7%);
$card-bg:hsl(244, 38%, 16%);
$accent-color:hsl(278, 94%, 40%);

// Neautral colors
$main-headings: white;
$para-color: hsla(0, 0%, 100%, 0.75);
$stat-heading: hsla(0, 0%, 100%, 0.6);
