@import "variables", 'mixins';

*{
  box-sizing: border-box;
}

body{
  @include centerIt;
  background: $main-bg;
  height: 100vh;

}

.card-container{
  background: $card-bg;
  height: 400px;
  width: 400px;

  .main-img{
    height: 200px;
    width: 300px;

    img{
      width: 100%;
    }
  }
}

footer{
  bottom: 0;
  position: fixed;

  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }

}
