@import "variables", 'mixins';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  @include centerIt;
  background: $main-bg;
  height: 100vh;
  overflow: hidden;

}

.card-container{
  background: $card-bg;
  height: 780px;
  width: 328px;
  border-radius: 10px;

  .main-img{
    height: 240px;
    width: inherit;
    border-radius: 10px 10px 0 0;
    position: relative;
    
    img {
      width: inherit;
      border-radius: inherit;
      position: absolute;
      opacity: 0.6;
      top: 0;
    }

    .img-color{
      background-color: $accent-color;
      width: inherit;
      height: 240px ;
      border-radius: inherit;
      opacity: 1;
    }
 
  }

  .card-body{
    @include centerIt;
    flex-direction: column;
  }
}

footer{
  bottom: 0;
  position: fixed;

  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }

}
